<h1>Listing boxes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td>Box ID: <%= box.id %></td>
        <td><%= link_to 'Show', image_box_path(@image, box) %></td>
        <td><%= link_to 'Edit', edit_image_box_path(@image, box) %></td>
        <td><%= link_to 'Destroy', [@image, box], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box', new_image_box_path %>
