<p id="notice"><%= notice %></p>

<p>x start <%=@box.x_start %>
<p>x end <%=@box.x_end %>
<p>y start <%=@box.y_start %>
<p>y end <%=@box.y_end %>
<p>notes <%=@box.note %>

<p>Image  URL: 
<%=@image.thefile.url %>


<div>
<%= link_to 'Edit', edit_image_box_path(@image, @box) %> |
<%= link_to 'Back', image_box_path %>
</div>