<p id="notice"><%= notice %></p>


    <canvas id="drawing-canvas" onLoad>
    	<!-- @todo, probably not the best place for this -->
        <!--<img id ="testing-id" src ="https://33.media.tumblr.com/fd7fb94e31f080be968d4f7ee4266f96/tumblr_n8b0my2HcX1qz581wo1_1280.jpg" onLoad="initCanvas();">-->

    	<img id ="testing-id" src ="<%=@image.thefile.url %>" onLoad="initCanvas();">
    </canvas>

<!-- todo make this a real rails form -->
        <div id ="note-form">
            <form id="new_box" action="<%= @image.id %>/boxes" data-remote-"true" method="post">
                <input type="hidden" id="box_x_start" name="box[x_start]">
                <input type="hidden" id="box_y_start" name="box[y_start]">
                <input type="hidden" id="box_x_end" name="box[x_end]">
                <input type="hidden" id="box_y_end" name="box[y_end]">

                <input type="hidden" id="image-id" value="<%=@image.id %>">
                <textarea id ="box_note" name="box[note]"> </textarea>
                <input type ="submit"> <!-- &#10003; for heavier -->


            </form>
        </div>


<!--
<%= image_tag @image.thefile.url(:medium) %>
<%= image_tag @image.thefile.url(:thumb) %>
-->
<p>
	<%= link_to 'Edit Image', edit_image_path(@image) %> |
	<%= link_to 'Back', images_path %>
</p>

<div>
    <p>Here are the boxes for this image</p>
    <table>
        <% @boxes.each do |box| %>
          <tr>
            <td>Box ID: <%= box.id %></td>
            <td><%= link_to 'Show', image_box_path(@image, box) %></td>
            <td><%= link_to 'Edit', edit_image_box_path(@image, box) %></td>
            <td><%= link_to 'Destroy', [@image, box], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </table>
</div>